@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply antialiased text-gray-900 bg-white;
  }
}

@layer utilities {
  .mask-image-circle {
    mask-image: radial-gradient(circle, black 50%, transparent 60%);
    -webkit-mask-image: radial-gradient(circle, black 50%, transparent 60%);
  }
}